@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Poppins:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    text-decoration: none;
}
body{
    margin: 0 10%;
    height: auto;
    background-color: var(--offwhite);
}
:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --offwhite: #fffdfa;
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 1rem;
    height: 60px;
}
ul{
    width: 45%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
a,p{
    color: var(--dark-grayish-blue);
}
a:hover{
    color: var(--soft-red);
}
/* main */
.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hero{
    width: 66%;
}
.new{
    width: 32%;
    background-color: orange;

}

/* hero */
.hero img{
    width: 100%;
}

.hero img:nth-of-type(2){
    display: none ;
}
.hero-content{
    width: 100%;
    display: flex;
   justify-content: space-between;
   margin-top: 1rem;
}
.bright{
    width: 50%;
    /* background-color: yellow; */
}
.bright h1{
    font-weight: 800;
    font-size: 4rem;
    color: var(--very-dark-blue);
}
.read-more{
    width: 50%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}
button{
    width: 30%;
    background-color: var(--soft-red);
    outline: none;
    padding: 15px;
    border: none;
}
button a{
    color: var(--offwhite);
}
button:hover{
    background-color: var(--very-dark-blue);
    cursor: pointer;
}

/* New card */
.new{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--very-dark-blue);
}
.new-text{
    width: 90%;
}
.new-text p{
    font-size: 0.76rem;
}
.new h1{
    color: var(--soft-orange);
    align-self: flex-start;
    margin-left: 5%;

}
.new-text>h3{
    color: var(--offwhite);
    font-size: 1rem;
}
.new-text>h3:hover{
    color: var(--soft-orange);
}
/*  line */
hr{
    width: 90%;
    border: 1px solid var(--dark-grayish-blue);
}

/* footer section */
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-top: 4rem;
    margin-bottom: 4rem; */
    margin: 4rem 0;
}
.footer-card{
    width: 33%;
    display: flex;
    justify-content: space-between;
}
.footer-card img{
    width: 30%;
}
.footer-card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 56%;
}
.footer-card-text h1{
    color: var(--grayish-blue);
}
.footer-card-text h3{
    color: var(--very-dark-blue);
    font-size: 0.9rem;
    font-weight: 800;
}
.footer-card-text p{
    font-size: 0.79rem;
    font-weight: 400;
}
.footer-card-text h3:hover{
    color: var(--soft-orange);
}
.menu{
    display: none;
}
/* Media Query */

@media (max-width:840px){
    ul{
        display: none;
        justify-content: space-around;
    }
    .menu{
        display: block;
    }
    .hero img:nth-of-type(1){
        display: none;
    }
    .hero img:nth-of-type(2){
        display: block;

    }
    .hero,.new,.bright,.read-more{
        width: 100%;
    }

    .new{
        height: 480px;
        margin-top: 2rem;
    }
    .new p{
        font-size: 1rem;
    }
    .main,.hero-content,.footer{
        flex-direction: column;
        gap: 20px;
    }
    .footer-card{
        width: 100%;
    }

    button{
        margin-top: 1rem;
    }
}